<div class="auth-wrapper modal-body">
    <form class="form-signin" [formGroup]="form.inputData" (ngSubmit)="registerUser()">
        <div class="form-group col-md-8 offset-md-2">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title" name="title" id="title">
            <span style="color: red;" *ngIf="title && title.touched && title.invalid">
                Name is required min length is 5
            </span>
        </div>        
        <div class="form-group col-md-8 offset-md-2">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName">
            <span style="color: red;" *ngIf="firstName && firstName.touched && firstName.invalid">
                First Name is required min length is 5
            </span>
        </div> 
        <div class="form-group col-md-8 offset-md-2">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName">
            <span style="color: red;" *ngIf="lastName && lastName.touched && lastName.invalid">
                Last Name is required min length is 5
            </span>
        </div>        
        <div class="form-group col-md-8 offset-md-2">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" name="email" id="email">
            <span style="color: red;" *ngIf="email && email.touched && email.invalid">
                Email is required min length is 5
            </span>
        </div> 
        <div class="form-group mt-3">
            <label for="role">Role</label>
            <select class="form-control" name="role" formControlName="role" required>
                <option value="">---role here---</option>
                <option value="Admin">Admin</option>
                <option vale="User">User</option>
            </select>
        </div>
        <div class="form-group col-md-8 offset-md-2">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" name="password" id="password">
            <span style="color: red;" *ngIf="password && password.touched && password.invalid">
                Password is required min length is 6
            </span>
        </div>
        <div class="form-group col-md-8 offset-md-2">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword">
            <span style="color: red;" *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid">
                Password is required min length is 6
            </span>
        </div>  
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary col-md-3 offset-md-3" style="margin-top: 1%;">Sign up</button>
        </div>                  
    </form>
</div>